.test-form,
.test-form * {
  box-sizing: border-box;
}

.test-form {
  padding: 5px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.test-form textarea {
  margin: 1em 0;
  font-family: sans-serif;
  font-size: 1.1em;
  padding: 5px;
}

.test-form output {
  font-size: 1.1em;
}

.test-form output .graph {
  display: flex;
  flex-direction: column;
}

.test-form output .graph .graph-item {
  display: flex;
  padding: 4px;
}

.graph .graph-item .label {
  flex-basis: 10em;
  flex: 0;
  min-width: 10em;
  text-align: right;
  padding: 0 5px;
}

.graph .graph-item .value {
  background: steelblue;
  color: white;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: flex-end;
}
